.newsfit-post-meta {
	color: $meta_color;
	margin-bottom: 15px;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		row-gap: 2px;
		column-gap: 10px;
	}

	ul li {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;

		.prefix {
			margin-right: 4px;
		}
	}

	ul li a {
		color: $meta_color;

		&:hover {
			color: $title_color
		}
	}

	//Default meta style
	.meta-style-default & {
		ul {
			column-gap: 10px;
		}

		ul li:not(:last-child)::after {
			content: "/";
			margin-left: 10px;
			font-size: 15px;
		}
	}

	.meta-style-pipe & {
		li:not(:last-child)::after {
			content: " | ";
			transform: scaleY(.9);
			margin: 0 1px 0 10px;
		}
	}

	//Dashed meta style
	.meta-style-dash & li::before {
		@extend .metaStyleDash;
	}

	.meta-style-dash-bg & {
		ul {
			gap: 6px;
		}

		li {
			background: $meta_light;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 3px 10px;
			margin: 0;
			@include transition_default();
			@extend .primaryColor;

			&:before {
				@extend .primaryColor;
			}

			a {
				@extend .primaryColor;
			}

			a:hover {
				color: $title_color;
			}
		}

		li::before {
			@extend .metaStyleDash;
		}
	}
}


.widget .newsfit-post-meta {
	margin-bottom: 6px;
}
