/*Post Block
===================================*/

.newsfit-post-card {

	margin-bottom: 30px;

	//Post Thumbnail
	.post-thumbnail {
		margin-bottom: 20px;

		a, img {
			display: block;
		}
	}

	//Post Title
	.entry-title {
		@include font_size(24px);
		font-weight: 600;
		margin-bottom: 8px;

		a {
			color: $title_color;

			&:hover {
				color: $primary_color;
				text-decoration: underline;
			}
		}
	}

	&.meta-style-dash .title-above-meta a {
		&::before {
			color: $primary_color;
			@extend .metaStyleDash;
		}

		&:hover::before {
			color: $white_color;
		}
	}

	//Meta Above Title
	.title-above-meta {
		margin-bottom: 5px;

		.category-links a {
			font-style: normal;
			font-weight: 500;
			background: $meta_light;
			color: $primary_color;
			@include font_size(14px);
			height: 30px;
			padding: 0 10px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			position: relative;
			margin: 0 4px 4px 0;

			&:hover {
				background: $primary_color;
				color: $white_color;
			}
		}

		.sp {
			display: none;
		}
	}

	.entry-content {
		margin-bottom: 20px;
	}

	.read-more {
		@extend .btn, .btn-light;
		padding: 11px 14px;
		position: relative;

		&:hover {
			background: $primary_color;
			color: $white_color;
		}
	}
	&.meta-style-dash .read-more::before {
		@extend .metaStyleDash;
		color: $white_color;
	}

}
