.newsfit-breadcrumb-wrapper {
	padding: 30px 0;
	background-color: $white_color;
	border-bottom: 1px solid rgba($black_color, 0.1);

	.breadcrumb {
		padding: 0;
		list-style: none;
		background-color: transparent;
		border-radius: 0;
		color: $body_color;
		@include font_size(14px);
		font-weight: 500;
		display: flex;
		gap: 10px;
		margin: 0;
		position: relative;

		li {
			display: flex;
			position: relative;
			align-items: center;
			gap: 10px;
		}

		a {
			color: $body_color;
		}

		li .raquo {
			margin: 0 9px;
			color: $meta_color;
		}

		li::after {
			content: "";
			width: 6px;
			height: 6px;
			transform: rotate(45deg);
			display: inline-block;
			border: 2px solid $body_color;
			border-left: none;
			border-bottom: none;
		}

		li.active {
			@extend .primaryColor;
		}

		li:last-child:after {
			content: none;
		}

	}

}

.has-transparent-header .newsfit-breadcrumb-wrapper {
	padding-top: 130px;
}
