/* Site Footer
***************************/
.site-footer {
	position: relative;
}

/* Footer Widget wrapper
***************************/
.footer-widgets-wrapper {
	padding-top: 100px;
	padding-bottom: 50px;
	@include font_size(15px);
	border-top: 1px solid $gray1_color;
	//Default widgets overwrite
	.footer-widgets {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

		.widget-title {
			margin-bottom: 30px;
			font-weight: bold;
		}

		> .widget {
			flex-grow: 25;
		}

		ul {
			padding-left: 0;

			ul {
				padding-left: 20px;
			}
		}
	}
}

/* Footer Menu Wrapper
***************************/
.footer-menu-wrapper {
	border-top: 1px solid $gray1_color;
}

/* Footer Copyright
***************************/

.footer-copyright-wrapper {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $white_color;
	@include font_size(14px);
	background: rgba($title_rgb, 0.9);

	a {
		color: $gray3_color;
	}
}
